<!-- contact info -->
<div class="card shadow">

  <img class="card-img-top m-0" src="{{ site.baseurl }}/assets/me.jpg" alt="Card image" style="width:100%">

  <div class="card-body p-2" markdown="1">

  <div class="row small">
   <div class="col-2 text-center"><i class="fas fa-user-circle"></i></div>
   <div class="col p-0 m-0">{{ site.data.settings.instructor }}</div>
  </div>
  <div class="row small">
   <div class="col-2 text-center"><i class="fas fa-envelope"></i></div>
   <div class="col p-0 m-0">{{ site.data.settings.email }}</div>
  </div>
  {%comment%}
  <div class="row small">
   <div class="col-2 text-center"><i class="fas fa-phone"></i></div>
   <div class="col p-0 m-0">{{ site.data.settings.officephone }}</div>
  </div>
  {%endcomment%}
  <div class="row small">
   <div class="col-2 text-center"><i class="fas fa-map-pin"></i></div>
   <div class="col p-0 m-0">{{ site.data.settings.office }}</div>
  </div>
  <div class="row small">
   <div class="col-2 text-center"><i class="fas fa-clock"></i></div>
   <div class="col p-0 m-0">{{ site.data.settings.officehours }}</div>
  </div>

  </div>

</div>
