<!doctype html>
<html lang="en">
{% include head.html %}
<body>

<div class="container-xl rounded shadow-lg p-4 mb-4 bg-white">

{% include header.html %}

{{ content }}

{% include footer.html %}

</div>

<!-- Optional JavaScript for Bootstrap - jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script>
$(document).ready(function() {
    /*
     * class hacking: add bootstrap/bootswatch class labels to my custom classes (notes, slides, etc.)
     */

    // admin styles
    $('.new').addClass('badge badge-pill badge-primary');
    $('.announcement').addClass('alert alert-primary').prepend('<h4 class="alert-heading">Class Announcement!</h4>');
    $('.timestamp').prepend('&mdash;Posted ');

    // add icons / style class elements...
    $( ".activity" ).each(function(index) {
        $(this).html('<i class="far fa-lightbulb"></i> ' +$(this).html()+ '' );
    });
    $( ".code" ).each(function(index) {
        $(this).html('<i class="far fa-file-code"></i> ' +$(this).html()+ '' );
    });
    $( ".slides" ).each(function(index) {
        $(this).html('<i class="far fa-file-pdf pl-1"></i> ' +$(this).html()+ '' );
    });
    $( ".pdf" ).each(function(index) {
        $(this).html('<i class="far fa-file-pdf"></i> ' +$(this).html()+ '' );
    });
    $( ".video" ).each(function(index) {
        $(this).html('<i class="far fa-play-circle pl-1"></i> ' +$(this).html()+ '' );
    });

    // add links to all section headers...
    $( ":header" ).each(function(index) {
      var attr = $(this).attr('id');
      if (typeof attr !== typeof undefined && attr !== false) {
        $(this).html( '<a href="#' + attr + '">' +$(this).html()+ ' </a>' );
      }
    });

    // add links to weeks on schedule
    $('td[id^="week"]').filter(function () {
        $(this).html(function(index, text){
            return '<a href="#' + text.toLowerCase().replace(' ', '') + '"><strong>' + text + '</strong></a>';
        });
    });

});
</script>

{% include mathjax.html %}
</body>

</html>
